<html>
<head>
</head>
<body>
	<h1>Youtube querying app</h1>
	<form id="youtubequery" method="POST" action="">
		<label for="url">Please input a youtube channel URL</label>
		<input id="url" name="url" type="text" style="width: 400px">
		<button>Query</button>
	</form>
</body>
</html>
